.socials {
  left: 0;
  bottom: 0;
  width: 1200px;
  padding: 15px;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  justify-content: space-between;
}
.footer-logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
}
.disabled-text {
  font-size: 16px;
  color: gray;
}
@media (max-width: 988px) {
  .socials {
    width: 100%;
  }
}
