@font-face {
  font-family: Mona Sans;
  src: url("./components/Styling/MonaSans-Black.ttf");
}
#root{
    margin: 5px;
    padding: 5px;
    font-family: Mona Sans;
    background-color: #f5f3f5;
}
.container-wrapper{
  width: 1200px;
  margin: 0 auto;
}
@media(max-width:988px){
  .container-wrapper{
    width: 100%;
    margin: none;
  }
}