@font-face {
  font-family: Mona Sans;
  src: url("./components/Styling/MonaSans-Black.ttf");
}

#root {
  margin: 5px;
  padding: 5px;
  font-family: Mona Sans;
  background-color: #f5f3f5;
  scroll-behavior: smooth;
}
.container-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.bounce {
  animation: bounceAnimation 1s ease forwards;
}

@keyframes bounceAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: inherit;
  }
}
@media (max-width: 988px) {
  .container-wrapper {
    width: 100%;
    margin: none;
  }
  #root {
    margin: 0;
  }
  .pad-layer{
    padding: 10px;
  }
}
